{% extends "base.html" %}
{% block content %}

<style>
.jumbotron {
        margin:10px;
        text-align:center;
        border:2px solid #ccc;
}
button, .btn {
        margin:20px;
        border:1px solid lightblue;
}
</style>


        <!-- Initial selection of data upload type -->
        <div id="upload-select" class="jumbotron">
                <h2>Select the type of data to upload:</h2>
                <hr>
                <button class="btn btn-lg btn-success" onclick="showWifi();" type="button">Upload Wifi Log Data</button>
                <button class="btn btn-lg btn-success" onclick="showGround();" type="button">Upload Ground Truth Data</button>
        </div>

        <!-- For Wifi upload -->
        <div id="wifi-upload" style="display:none;" class="jumbotron">
                <h2>Please select a Wifi Log file to upload</h2>
                <hr>
                <form action="upload" method="post" enctype="multipart/form-data">
                        <input style="font-size:20px;margin:auto;"type="file" name="file"/>
                        <input class="btn btn-lg btn-success" style="margin:10px auto;" type="submit" name="submit" value="Upload"/>
                </form>

                <!-- If the upload is successful -->
                <div id="wifi-success" style="display:none;" class="alert alert-success fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong> File was uploaded successfully!.
                </div>

                <!-- If the upload fails -->
                <div id="wifi-fail" style="display:none;" class="alert alert-danger fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong> Something went wrong!.
                </div>
                <button class="btn btn-md btn-primary" onclick="showGround();" type="button">Upload Ground Truth Data</button>
        </div>
        
        <!-- For Ground upload -->
        <div id="ground-upload" style="display:none;" class="jumbotron">
                <h2>Please enter the Ground Truth data to upload</h2>
                <hr>
                <form action="surveyupload" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                                <label for="room_input" class="control-label">Select a room: </label>
                                <select name="room_input" id="room_input"> 
                                        <option value="B002" >B002</option>
                                        <option value="B003" >B003</option>
                                        <option value="B004" >B004</option>
                                        <option value="B106" >B106</option>
                                        <option value="B108" >B108</option>
                                        <option value="B109" >B109</option>
                                </select>
                        </div>
                        <div class="form-group">
                                <label for="is_occupied" class="control-label">Is the room occupied: </label>
                                <input type="radio" name="is_occupied" value="1" checked="checked">Yes</input>
                                <input type="radio" name="is_occupied" value="0">No</input>
                        </div>
                        <div class="form-group">
                                <label for="occupancy" class="control-label">Estimate the occupancy: </label>
                                <select name="occupancy" id="occupancy"> 
                                        <option value="0" >0%</option>
                                        <option value="25" >25%</option>
                                        <option value="50" >50%</option>
                                        <option value="75" >75%</option>
                                        <option value="100" >100%</option>
                                </select>
                        </div>
                        <div class="form-group">
                                <label for="month-select" class="control-label">Month: </label>
                                <select name="month" id="month-select"> 
                                        <option value="01" >January</option>
                                        <option value="02" >February</option>
                                        <option value="03" >March</option>
                                        <option value="04" >April</option>
                                        <option value="05" >May</option>
                                        <option value="06" >June</option>
                                        <option value="07" >July</option>
                                        <option value="08" >August</option>
                                        <option value="09" >September</option>
                                        <option value="10" >October</option>
                                        <option value="11" >November</option>
                                        <option value="12" >December</option>
                                </select>
                        </div>
                        <div class="form-group">
                                <label for="day-select" class="control-label">Day: </label>
                                <select name="day" id="day-select">
                                        <option value="01" selected>1st</option>
                                        <option value="02" >2nd</option>
                                        <option value="03" >3rd</option>
                                        <option value="04" >4th</option>
                                        <option value="05" >5th</option>
                                        <option value="06" >6th</option>
                                        <option value="07" >7th</option>
                                        <option value="08" >8th</option>
                                        <option value="09" >9th</option>
                                        <option value="10" >10th</option>
                                        <option value="11" >11th</option>
                                        <option value="12" >12th</option>
                                        <option value="13" >13th</option>
                                        <option value="14" >14th</option>
                                        <option value="15" >15th</option>
                                        <option value="16" >16th</option>
                                        <option value="17" >17th</option>
                                        <option value="18" >18th</option>
                                        <option value="19" >19th</option>
                                        <option value="20" >20th</option>
                                        <option value="21" >21th</option>
                                        <option value="22" >22nd</option>
                                        <option value="23" >23rd</option>
                                        <option value="24" >24th</option>
                                        <option value="25" >25th</option>
                                        <option value="26" >26th</option>
                                        <option value="27" >27th</option>
                                        <option value="28" >28th</option>
                                        <option value="29" >29th</option>
                                        <option value="30" >30th</option>
                                        <option value="31" >31st</option>
                                </select>
                        </div>
                        <div class="form-group">
                                <label for="year-select" class="control-label">Year: </label>
                                <select name="year" id="year-select">
                                        <option value="2016" selected>2016</option>
                                        <option value="2015">2015</option>
                                        <option value="2014">2014</option>
                                        <option value="2013">2013</option>
                                        <option value="2012">2012</option>
                                        <option value="2011">2011</option>
                                        <option value="2010">2010</option>
                                        <option value="2009">2009</option>
                                        <option value="2008">2008</option>
                                        <option value="2007">2007</option>
                                        <option value="2006">2006</option>
                                        <option value="2005">2005</option>
                                        <option value="2004">2004</option>
                                        <option value="2003">2003</option>
                                        <option value="2002">2002</option>
                                        <option value="2001">2001</option>
                                        <option value="2000">2000</option>
                                        <option value="1999">1999</option>
                                        <option value="1998">1998</option>
                                        <option value="1997">1997</option>
                                        <option value="1996">1996</option>
                                        <option value="1995">1995</option>
                                        <option value="1994">1994</option>
                                        <option value="1993">1993</option>
                                        <option value="1992">1992</option>
                                </select>
                        </div>
                        <div class="form-group">
                                <label for="time-select" class="control-label">Time: </label>
                                <select name="time" id="time-select">
                                        <option value="9">09:00</option>
                                        <option value="10">10:00</option>
                                        <option value="11">11:00</option>
                                        <option value="12">12:00</option>
                                        <option value="13">13:00</option>
                                        <option value="14">14:00</option>
                                        <option value="15">15:00</option>
                                        <option value="16">16:00</option>
                                </select>
                        </div>
                        <input class="btn btn-lg btn-success" style="margin:10px auto;" type="submit" name="submit" value="Upload"/>
                </form>

                <!-- If the upload is successful -->
                <div id="ground-success" style="display:none;" class="alert alert-success fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong> Data was uploaded successfully!.
                </div>

                <!-- If the upload fails -->
                <div id="ground-fail" style="display:none;" class="alert alert-danger fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong> Something went wrong!.
                </div>
                <button class="btn btn-md btn-primary" onclick="showWifi();" type="button">Upload a Wifi Log file</button>
        </div>
        {% if data %}
        <script>
                process_results({{ data|safe }}[0], {{ data|safe }}[1]);
        </script>
        {% endif %}
{% endblock %}
